#header{
    height:5rem;
}

.titlebar{
    height:3rem;
    width:100%; 
}
.titlebar span{
    display:block;
    width:auto;
    height:2rem;
    margin-top:1rem;
    margin-left:1rem;
    line-height:3rem;
}
.titlebar span a{
    color:black;
}
.artical{
    width:100%;height:auto;
}
.atitle{
    width:700px;height:auto;
    margin:0 auto;
    font-size:2rem;
    font-weight:bold;
    margin-bottom:1rem;
}
.video{
    width:75%;
    margin:0 auto;
}
.main{
    width:85%;
    margin:0 auto;
}